---
layout: default
---

<div class="home">

  <div class="recipe-container wide">
    <div role="list" class="card-grid">
     {% assign sorted = site.recipes | sort:"date" %}
     {% for post in sorted reversed %}
     <div id="recipe-node">
        <div class="recipe-card">
           <div class="recipe-card-text" onclick="window.location='{{ post.url | prepend: site.baseurl }}';">
              <div class="recipe-card-header-wrapper">
                 <div class="recipe-card-header">
                    <h3 class="recipe-card-title">{{ post.title }}</h3>
                    <div class="published-on">
                       <i class="published-on-text">{{ post.date | date: '%B %e, %Y' }}</i>
                    </div>
                    {% if post.description %}<p class="recipe-card-descr">{{ post.description }}</p>{% endif %}
                 </div>
              </div>
              <ul class="recipe-infos">
                {% if post.preptime %} <li class="recipe-info"> <div class="info-block-icon"><i class="fa fa-clock" aria-hidden="true"></i></div> <div>{{ post.preptime }}</div> </li>{% endif %}
                {% if post.nutrition %} <li class="recipe-info"> <div class="info-block-icon"><i class="fa fa-bolt" aria-hidden="true"></i></div> <div>{{ post.nutrition }}</div> </li>{% endif %}
              </ul>
           </div>
           <div class="recipe-card-img" onclick="window.location='{{ post.url | prepend: site.baseurl }}';">
              <div class="recipe-info recipe-like-wrapper {% if post.likes %}{% else %}invisible{% endif %}">
                 <div class="info-block-icon">
                    <i class="fa-regular fa-thumbs-up"></i>
                 </div>
                 <div>{{ post.likes }}</div>
                 <div>%</div>
              </div>
              <img alt="" loading="lazy" src="{{site.baseurl}}/images/{{ post.image }}">
           </div>
        </div>
     </div>
     {% endfor %}
   </div>
 </div>

  
  <div class="bg-blue-tile mt4 mb4">
    <div class="clearfix white px2">
      <div class="sm-col-6 mx-auto px3 sm-px4">
        <h1>About</h1>
        <p>Hey peope!</p>

        <p>You've just stumbled onto <strong>Learning to Cook</strong>, a recipe log for my learnings.</p>

        <p>Since I've left my family's nest and started living idependently, I've craved the food that was so deliciously crafted by my mother, grandmothers and other women in my immediate and extended family.</p>

        <p>Over the years, I've collected and taken note of those recipes from the experts. I've tried to replicate them with varying levels of success. And although I'm still not an intuitive cook (I've got measurements for seasonings) - I thought it might be a good idea to share my journey as I learn.</p>

        <p><strong>Learning to Cook</strong> is my attempt at documenting this journey. In the process I'm also creating video documents - primarily for my future self.</p>
        <p>Although the recipes are here to stay, but as I experiment and learn new techniques - I will update the recipes from time to time. This blog is the place to check back on - even though the videos are not updated.</p>

        <p>Let's get to the kitchen and learn to cook something new,</p>

        <p>U</p>

        <p>
          <i class="fa-brands fa-youtube"></i><a href="https://www.youtube.com/@LearningToCook4/" target="_blank"> @learningtocook4</a>
           |
          <i class="fa-brands fa-tiktok"></i><a href="https://www.tiktok.com/@LearningToCook4/" target="_blank"> @learningtocook4</a>
           |
          <i class="fa-brands fa-instagram"></i><a href="https://www.instagram.com/LearningToCook4/" target="_blank"> @learningtocook4</a>
           |
          <i class="fa-brands fa-facebook"></i><a href="https://www.facebook.com/LearningToCook4/" target="_blank"> @learningtocook4</a>
           |
          <i class="fa-brands fa-x-twitter"></i><a href="https://www.x.com/LearningToCook4/" target="_blank"> @learningtocook4</a>
           |
          <i class="fa-brands fa-reddit"></i><a href="https://www.reddit.com/user/LearningToCook4/" target="_blank"> @learningtocook4</a>
        </p>
      </div>
    </div>
  </div>

</div>
